@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(235, 18%, 26%);
}

.card{
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    width: 900px;
}

.info{
    margin: auto 50px;
}

.info .title{
    font-size: 52px;
    color: hsl(234, 29%, 20%);
    margin-bottom: 20px;
}

.info .description{
    color: hsl(234, 29%, 20%);
    margin-bottom: 30px;
    font-size: 15px;
}

.info ul li{
    margin-bottom: 10px;
}

.info ul li:last-child{
    margin-bottom: 40px;
}

.info ul li{
    display: flex;
    align-items: center;
    gap: 10px;
}

.info ul li p{
    color: hsl(234, 29%, 20%);
}

.info div{
    display: flex;
    flex-direction: column;
}

.info div p{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

.info div input{
    border: 1px solid hsl(231, 7%, 60%);
    border-radius: 8px;
    padding: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.info div input::placeholder{
    color: hsl(231, 7%, 60%);
}

.info div input:focus{
    border: 1px solid hsl(234, 29%, 20%);
    outline: none;
}

.info div input:last-child{
    border: none;
    margin-bottom: 0;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.card .illustration{
    height: 580px;
}