@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(235, 18%, 26%);
}

.card {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    width: 900px;
}

.info {
    margin: auto 50px;
}

.info .title {
    font-size: 52px;
    color: hsl(234, 29%, 20%);
    margin-bottom: 20px;
}

.info .description {
    color: hsl(234, 29%, 20%);
    margin-bottom: 30px;
    font-size: 15px;
}

.info ul li {
    margin-bottom: 10px;
}

.info ul li:last-child {
    margin-bottom: 40px;
}

.info ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info ul li p {
    color: hsl(234, 29%, 20%);
}

.info .inputs {
    display: flex;
    flex-direction: column;
}

.info .inputs .messages{
    display: flex;
    justify-content: space-between;
}

.info .inputs .email-message,
.info .inputs .error-message {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

.info .inputs .error-message{
    color: hsl(4, 100%, 67%);
}

.none{
    display: none;
}

.info .inputs input {
    border: 1px solid hsl(231, 7%, 60%);
    border-radius: 8px;
    padding: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.info .inputs .input-email::placeholder {
    color: hsl(231, 7%, 60%);
}

.info .inputs .input-email:focus {
    border: 1px solid hsl(234, 29%, 20%);
    outline: none;
}

.info .inputs .input-submit:focus {
    outline: none;
}

.info .inputs .input-submit {
    border: none;
    margin-bottom: 0;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    transition: 0.3s ease-in;
}

.info .inputs .input-submit:last-child:hover {
    background: hsl(4, 100%, 67%);
}

.card .illustration-mobile {
    display: none;
}

.info .inputs .input-email.error {
    background-color: hsla(4, 100%, 67%, 25%);
    border: 1px solid hsl(4, 100%, 67%);
}

.info .inputs .input-email.error::placeholder {
    color: hsl(4, 100%, 67%);
}